<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>My Title</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            h1 {
            	font-size: 20pt;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>{{ data.header }}</h1>
			{% for item in data.groups %}	
				{% for group_item in item %}
					<h2>group_item["group"]["subheader"]</h2>
					{% for set_item in group_item["group"]["sets"] %}
						<h3>{{ set_item["group_name"] }}</h3>
						<ul>						
						{% for value in set_item["values"] %}
							<li>{{ value.question.text }}<span style="color: #777777">{{ value.answer }}</span></li>
						{% endfor %}
						</ul>
					{% endfor %}
				{% endfor %}
			{% endfor %}
        </div>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>
