<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>My Title</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            h1 {
            	font-size: 20pt;
            }
        </style>
    </head>
    <body>
        <div>
			<h1>{{ data.document_title }}</h1>
			{% for type in data.types %}
				<h2>{{ type.type_name}}</h2>
				{% for group in type.groups %}
					<h3>{{ group.group_name }}</h3>
					{% for set in group.sets %}
						<h4>{{ set.set_name }}</h4>
						<ul>
						{% for question in set.questions %}
							<li>{{ question.text }}<br/> <span style="color: #777777">{{ question.answer }}
						{% endfor %}
						</ul>
					{% endfor %}
				{% endfor %}
			{% endfor %}
        </div>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>
